.note-3 {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.note-3-title {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.note-3-title-text {
    width: 100%;
    padding-left: 5px;
    font-weight: bold;
}

.note-3-description-text {
    padding-left: 5px;
    padding-top: 5px;
}

.note-3-title-btns {
    margin-left: 85%;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.note-3-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.note-3-icon-btns {
    display: flex;
    flex-flow: row nowrap;
}