.main-page-screen {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-page-work-area {
    display: flex;
    flex-flow: row nowrap;
    gap: 1%;
    width: 100%;
}

.main-page-side-menu {
    display: flex;
    flex-flow: column nowrap;
}

.main-page-side-menu-drawer-open {
    width: 19.5%;
}

.main-page-side-menu-drawer-close {
    width: 3.5%;
}

.main-page-main-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.main-page-main-content-drawer-open {
    width: 79.5%;
}

.main-page-main-content-drawer-close {
    width: 95.5%;
}

.main-page-create-note {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.main-page-created-notes {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: start;
    gap: 1%;
    row-gap: 12px;
}